{:server/jetty              {:handler #ig/ref :server/routes
                             :port    #env [:int :port 8080]}
 :server/routes {:jdbc-url #ig/ref :db/postgres
                 :auth     #ig/ref :auth/auth0}
 :db/postgres               {:jdbc-url                  #env :jdbc-database-url
                             :connection-max-attempts   10
                             :connection-retry-delay-ms 3000}
 :auth/auth0                {:jwt-config               {:issuers {"https://pigeon-scoops.us.auth0.com/"
                                                                  {:alg          :RS256
                                                                   :jwk-endpoint "https://pigeon-scoops.us.auth0.com/.well-known/jwks.json"}}}
                             :test-client-id           #env :test-client-id
                             :management-client-id     #env :management-client-id
                             :management-client-secret #env :management-client-secret}
 :db-tasks/scheduler        {:jdbc-url #ig/ref :db/postgres
                             :accept-orders-interval-seconds 10800}}
